*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --yellow:yellow;
    --bck-blck:rgb(30, 30, 30);
    --underline-clr:rgb(250, 235, 215);
    --font-clr: rgb(45,45,45);
}
body{
    color: whitesmoke;
    background-color: var(--bck-blck);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}
.name{
    font-size:2.5rem;
    color: var(--font-clr);
    padding: .2em .5em;
    background-color: var(--underline-clr);
    border-radius:3px ;
}
.heading{
    font-size:2.5rem;
    border-bottom:10px solid var(--underline-clr) ;
    color: var(--font-clr);
    margin: 1em 0;
    /* padding: .5em;
    background-color: var(--underline-clr); */
}
.container{
    background-color:  rgba(255, 255, 255, 0.521);
    padding: 2em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    
}
.explanation{
    color: var(--yellow);
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 1em 0;
    font-weight: bold;
}
hr{
    border: 10px solid var(--font-clr);
    border-radius: 5px;
}
.fomating{
    color:var(--yellow);
}
mark {
    background-color:var(--font-clr);
  }
